## Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("weatherpy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Siena,IT,75.15,clear sky,43.2167,11.4000,More Di Cuna
1,7,Isangel,VU,84.31,broken clouds,-19.5500,169.2667,Tanna Lodge
2,14,Bethel,US,84.29,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
3,18,Sabha,LY,79.30,clear sky,27.0377,14.4283,محطة ام الارانب -سبها مواصلات
4,20,Butaritari,KI,81.09,moderate rain,3.0707,172.7902,Isles Sunset Lodge

In [7]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Almunecar']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Almunecar']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Calvia']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Mao'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Palafrugell']

In [28]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

stop3

array([41.9174, 3.1631], dtype=object)

In [33]:
fig = gmaps.figure(center=(38, -122), zoom_level = 7) 
Almunecar = (36.7339, -3.6907) 
Calvia = (39.5657, 2.5062) 
Mao = (39.8885, 4.2658) 
Palafrugell = (41.9174, 3.1631) 
roadtrip = gmaps.directions_layer(Almunecar, Almunecar, waypoints=[Calvia, Mao, Palafrugell], travel_mode="DRIVING") 
fig.add_layer(roadtrip) 

fig

Figure(layout=FigureLayout(height='420px'))


fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Almunecar = (36.7339, -3.6907)
Calvia = (39.5657, 2.5062)
Mao = (39.8885, 4.2658)
Palafrugell = (41.9174, 3.1631)
roadtrip = gmaps.directions_layer(Almunecar, Almunecar, waypoints=[Calvia, Mao, Palafrugell, Almunecar], travel_mode="DRIVING")
fig.add_layer(roadtrip)
fig

In [34]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,410,Almunecar,ES,84.69,clear sky,36.7339,-3.6907,Almuñécar Playa Spa Hotel
1,406,Calvia,ES,79.09,clear sky,39.5657,2.5062,Castell Son Claret
2,185,Mao,ES,75.76,clear sky,39.8885,4.2658,ARTIEM Capri
3,210,Palafrugell,ES,79.43,clear sky,41.9174,3.1631,Hotel La Torre

In [35]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))